<nav class=" navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid shiftPadding">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <ul class="contact">
                        <span>Emma Thomas</span>
                        <li>
                            <p>071 362 7100</p>
                        </li>
                        <li>
                            <p>emma.thomas.nmu@gmail.com</p>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <ul class="address">
                        <span>Address</span>
                        <li>
                            <p>Building 125</p>
                        </li>
                        <li>
                            <p>Nelson Mandela University</p>
                        </li>
                        <li>
                            <p>Port Elizabeth</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <ul class="hours">
                        <span>Hours</span>
                        <li><p>Monday - Friday: 9:00 am - 5:00</p></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 ">
                    <ul class="social">
                        <span>Social</span>
                    </ul>
                    <div class="social-links">
                        <a target="_blank" href="https://www.facebook.com/k.itsines">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a target="_blank" href="https://instagram.com/kayla_itsines">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a target="_blank" href="https://twitter.com/kayla_itsines">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a target="_blank" href="https://www.youtube.com/user/kaylaitsines">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</nav>
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
           <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>
