<!DOCTYPE html>
<html>
<head>
    <title>Emma Thomas</title>
    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/app.css">
    <link rel="stylesheet" type="text/css" href="/intro.css">
    <link rel="stylesheet" type="text/css" href="/webStyle.css">
    <link rel="stylesheet" type="text/css" href="/contact.css">
     <link rel="stylesheet" type="text/css" href="/footer.css">
      <link rel="stylesheet" type="text/css" href="/header.css">
          <link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Carrois+Gothic+SC|Imprima|Kristi|Questrial"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top"id="websiteNav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed  " data-toggle="collapse"
                        data-target="#navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Emma Thomas</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="services">Services</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li>
                        <a id="signInBtn" class="btn btn-default btn-outline btn-circle collapsed signInBtn" d
                           href="/login" aria-expanded="false">Sign in</a>
                        <!--<a id="signInBtn" class="btn btn-default btn-outline btn-circle collapsed signInBtn" data-toggle="collapse"-->
                           <!--href="#nav-collapse2" aria-expanded="false" aria-controls="nav-collapse2">Sign in</a>-->
                    </li>
                </ul>
                <div class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse2">
                    <form class="navbar-form navbar-right form-inline" role="form">
                        <div class="form-group">
                            <label class="sr-only" for="Email">Email</label>
                            <input type="email" class="form-control" id="Email" placeholder="Email" autofocus required/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="Password">Password</label>
                            <input type="password" class="form-control" id="Password" placeholder="Password" required/>
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                    </form>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->

