<link rel="stylesheet" type="text/css" href="/loginRegHeader.css">
<div id="loginRegHeader" class="container">
    <div class="row">
        <div id="loginRegHeaderIcons" class="col-xs-12 1 col-sm-12 col-sm-offset-1 col-md-12 col-md-offset-0 ">
            <div class="col-md-4 headerInfo headerIcon">
                <i class="fas fa-cog big"></i>

            </div>
            <div class="col-md-4 headerInfo headerIcon">
                <i class="far fa-calendar-alt big"></i>

            </div>
            <div class="col-md-4  headerInfo headerIcon">
                <i class="fas fa-book big"></i>

            </div>
        </div>
    </div>

    <div class="row">
        <div id="loginRegHeaderText" class="col-xs-12 1 col-sm-12 col-sm-offset-1 col-md-12 col-md-offset-0 ">
            <div class="col-md-4">Handle Information</div>
            <div class="col-md-4">Book Sessions</div>
            <div class="col-md-4">Track Progress</div>
        </div>
    </div>
</div>
</div>
