<link rel="stylesheet" type="text/css" href="/loginRegHeader.css">
<div id="loginRegHeader" class="container">
    <div class="row">
        <div id="loginRegHeaderContent" class="col-xs-12 1 col-sm-12 col-sm-offset-1 col-md-12 col-md-offset-0 ">
            <div class="col-md-4 headerInfo">
                <i class="fas fa-cog"></i>
            </div>
            <div class="col-md-4 headerInfo ">
                <i class="fas fa-cog"></i>
            </div>
            <div class="col-md-4  headerInfo">
                <i class="fas fa-cog"></i>
            </div>
        </div>
    </div>
</div>
