.*-cache/
node_modules/
docs/
build/
data/games/mobile_slot_menu.json
output.min.js
templates.compiled.js
templates.min.js
thirdparty.min.js
*.css
.DS_Store
.idea/
*.compiled.js
*.min.html
game.html
Scripts.min.js
game.template.js
robots.txt
*.zip
*.log
*.appcache
*.bak
*.framework.js
/games/slots/framework/framework.js
/BasicHtml
/index.html
/transitionImage.html
/spikes/canvasIssue.html
/games/slots/framework/assets/reel-assets/slotTemp.psd
*.map
*_old


# For server deploy
robots.txt
update/

/spikes/Components/Dropdown/
/spikes/speech.html
/tasks_old
/_sidegame.html
