<!DOCTYPE html>
<html>
<head>
    <title>Emma Thomas</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/login.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Carrois+Gothic+SC|Imprima|Kristi|Questrial"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <div id="loginContainer" class="container-fluid">
        <% include partials/loginRegHeader%>
        <div id="outerContainer" class="col-md-4 ">
        <div id="loginContent" class="container-fluid">
            <div class="row">
                <div class="col-md-4"><h4>LOGIN</h4></div>
                <div class="col-md-4 col-md-offset-1"><h5>Not a member?</h5></div>
                <div id="signIn" clas2="col-md-3 col-md-offset-1"><a href="/register" class="">Sign Up</a></div>
            </div>
            <div class="row">

                <form class="form" action="/login" method="POST">

                    <div class="form-group loginCtrl">
                        <div class="col-md-4"><label class="lbl" for="inputUsernameEmail" >EMAIL</label></div>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="inputUsernameEmail" name="username" autofocus required
                                   placeholder="username">
                        </div>
                    </div>
                    <div class="form-group loginCtrl">
                        <div class="col-md-4">
                            <label class="lbl  control-label" for="password-field">PASSWORD</label></div>
                        <div class="col-md-12">
                            <input type="password" class="form-control" id="password-field" name="password" required
                                   placeholder="password">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a id="forgotPwrd" class="pull-right" href="#">Forgot password?</a>

                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn btn-lg btn-primary pull-right btn-block">
                            LOGIN
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(".toggle-password").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</body>
</html>
