#introContent {
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  
}
/*
#introBody h3 {
    font-family: "Playfair Display";
    font-size: 54px;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-weight: 700;
    font-style: normal;
    color: #333;
}

#photo {
 /*border: 2px solid orange;

}
/*
#photoImg {
    background-image: url("emma.jpg") ;
    height: 50rem;
    width: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: 5px solid #FFFFFF;
}

#introContent {
    height:100%;

 }*